@using PresalesMonitor.Shared;
@using PresalesMonitor.Client.Web.Helpers;

<table class="table">
    <thead>
        <tr>
            <th style="">Номер</th>
            <th style="">Название</th>
            <th style="width: 10%">Пресейл</th>
            <th style="">Статус</th>
            <th style="width: 15%">Закрыто</th>
            <th style="">Счетов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Projects)
        {
            <tr>
                <td>@project.Number</td>
                <td>@project.Name</td>
                <td>@project.PresaleName</td>
                <td>@project.Status</td>
                <td>@project.ClosedAt.ToDateTime().ToPresaleTime()</td>
                <td>@project.Invoices.Count</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Project> Projects { get; set; }
}