@page "/dashboard"
@using PresalesMonitor.Shared;
@using Google.Protobuf.WellKnownTypes;
@using ChartJs.Blazor.PieChart;
@using PresalesMonitor.Client.Web.Helpers;
@inject Presales.PresalesClient PresalesClient
@implements IDisposable
@layout DashboardLayout

<PageTitle>Dashboard</PageTitle>

@if (monthProfit == null || _img == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="dashboard">
        <div class="chart">
            <div class="legend">
                @foreach (var presale in monthProfit.Presales)
                {
                    if ((decimal)presale.Statistics.Profit > 0)
                    {
                        <div>
                            <div style="background: @colors[i]"></div>
                            <p>@presale.Name:</p>
                            <p>@Helpers.ToCurrencyString(presale.Statistics.Profit)</p>
                        </div>
                        i++;
                    }
                }
            </div>
            <div class="pie">
                <Chart Config="_pieConfig"></Chart>
            </div>
            <div class="delta-container timer-container">
                <div class="timer">@timeLeft</div>
                @if ((decimal)monthProfit.DeltaDay > 0)
                {
                    <div class="delta">+@Helpers.ToCurrencyString((decimal)monthProfit.DeltaDay)</div>
                }
            </div>
        </div>
        <div class="img-container">
            <img src="@_img.Regular" alt="@_img.AltDescription" />
            <div>
                <p>Photo by <a href="@_img.AuthorUrl">@_img.AuthorName</a> on <a href="@_img.SourceUrl">@_img.SourceName</a></p>
                <input @bind="@query" @bind:event="oninput" @onkeydown="@UpdImg" />
            </div>
        </div>
    </div>
    <div class="percent">@Helpers.ToPercentString((double)(monthProfit.Profit/monthProfit.Plan), 1)</div>
    <div class="left">@Helpers.ToCurrencyString((decimal)monthProfit.Left)</div>
}

@code {
    private TimeSpan timeLeft = new (0, 10, 0);
    private MonthProfit? monthProfit;
    private PieConfig _pieConfig = new PieConfig();
    private Image? _img;
    private string query = "girl";
    private string[] colors = new[]
        {
            ColorUtil.ColorHexString(5, 47, 97),
            ColorUtil.ColorHexString(12, 90, 74),
            ColorUtil.ColorHexString(165, 14, 130),
            ColorUtil.ColorHexString(106, 158, 31),
            ColorUtil.ColorHexString(232, 125, 55),
            ColorUtil.ColorHexString(20, 150, 124),
            ColorUtil.ColorHexString(99, 8, 78),
            ColorUtil.ColorHexString(198, 35, 36),
            ColorUtil.ColorHexString(3, 28, 58),
    };
    private int i = 0;
    private PeriodicTimer periodicTimer = new(TimeSpan.FromSeconds(1));
    // private PeriodicTimer timer = new(TimeSpan.FromSeconds(10));

    protected override void OnInitialized() => RunTimer();
    public void Dispose() => periodicTimer?.Dispose();

    protected override void OnAfterRender(bool firstRender)
    {
        i = 0;
    }

    DateTime from = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1, 0, 0, 0);
    DateTime to = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59);

    public async void UpdImg(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
            _img = await UpdateImage();
    }

    async void RunTimer()
    {
        int count = 0;
        var second = new TimeSpan(0, 0, 1);
        while (await periodicTimer.WaitForNextTickAsync())
        {
            timeLeft = timeLeft.Subtract(second);
            if (count > 600)
            {
                count = 0;
                to = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59);
                monthProfit = await UpdateData(from, to);
                _img = await UpdateImage();
                UpdateChart();
                timeLeft = new(0, 10, 0);
            }
            count++;
            StateHasChanged();
        }
    }

    private async Task<MonthProfit> UpdateData(DateTime from, DateTime to)
    {
        var overview = await PresalesClient.GetMonthProfitAsync(new Period
        {
            From = Timestamp.FromDateTime(from.ToUniversalTime()),
            To = Timestamp.FromDateTime(to.ToUniversalTime())
        });

        if (overview == null || (decimal)overview.Profit == 0)
            overview = await PresalesClient.GetMonthProfitAsync(new Period
            {
                From = Timestamp.FromDateTime(new DateTime(from.Year, from.AddMonths(-1).Month, 1).ToUniversalTime()),
                To = Timestamp.FromDateTime(new DateTime(from.Year, from.AddMonths(-1).Month, from.AddDays(-1).Day).ToUniversalTime())
            });
        return overview;
    }

    private async Task<Image> UpdateImage() => await PresalesClient.GetImageUrlAsync(new ImageRequest { Keyword = query, Orientation = "portrait" });

    private void UpdateChart()
    {
        i = 0;
        if (monthProfit == null) return;
        var dataset = new PieDataset<decimal>();
        List<string> datasetColors = new();
        List<string> datasetLabels = new();
        _pieConfig.Data.Labels.Clear();
        _pieConfig.Data.Datasets.Clear();

        foreach (var presale in monthProfit.Presales)
            if ((decimal)presale.Statistics.Profit > 0)
            {
                dataset.Add(presale.Statistics.Profit);
                datasetColors.Add(colors[i]);
                _pieConfig.Data.Labels.Add($"{presale.Name}: {Helpers.ToCurrencyString(presale.Statistics.Profit)}");
                i++;
            }
        i = 0;
        if ((decimal)monthProfit.Left > 0)
        {
            dataset.Add((decimal)monthProfit.Left);
            _pieConfig.Data.Labels.Add($"Осталось: {Helpers.ToCurrencyString((decimal)monthProfit.Left)}");
            datasetColors.Add(ColorUtil.ColorHexString(240, 240, 240));
        }

        dataset.BackgroundColor = datasetColors.ToArray();
        _pieConfig.Data.Datasets.Add(dataset);
    }

    protected override async Task OnInitializedAsync()
    {
        monthProfit = await UpdateData(from, to);
        _img = await UpdateImage();

        _pieConfig.Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle { Display = false },
                Legend = new Legend { Display = false },
                Tooltips = new Tooltips { Enabled = false },
                CutoutPercentage = 30,
                Animation = new ArcAnimation
                {
                    AnimateScale = true,
                    AnimateRotate = true
                }
            };

        UpdateChart();
    }
}