@page "/dashboard"
@using PresalesMonitor.Shared;
@using Google.Protobuf.WellKnownTypes;
@using ChartJs.Blazor.PieChart;
@using PresalesMonitor.Client.Web.Helpers;
@using Department = PresalesMonitor.Shared.Department;
@using Position = PresalesMonitor.Shared.Position;
@using System.Threading;
@inject Presales.PresalesClient PresalesClient
@implements IDisposable
@layout DashboardLayout

<PageTitle>Dashboard</PageTitle>

@if (overview == null || _img == null)
    { <p><em>Loading...</em></p> }
else
{
    <div class="dashboard">
        <div class="chart">
            <div class="legend">
                @foreach (var item in overview.Presales.Select((presale, index) => new { index, presale }))
                {
                    if ((decimal)item.presale.Statistics.Profit > 0)
                    {
                        <div>
                            <div style="background: @colors[item.index]"></div>
                            <p>@item.presale.Name:</p>
                            <p>@Helpers.ToCurrencyString(item.presale.Statistics.Profit)</p>
                        </div>
                    }
                }
            </div>
            <div class="pie">
                <Chart Config="_pieConfig"></Chart>
            </div>
            <div class="delta-container timer-container">
                <div class="timer">@timeLeft</div>
                @if ((decimal)overview.DeltaDay > 0)
                    { <div class="delta">+@Helpers.ToCurrencyString((decimal)overview.DeltaDay)</div> }
            </div>
        </div>
        <div class="img-container">
            <img src="@_img.Regular" alt="@_img.AltDescription" />
            <div>
                <p>Photo by <a href="@_img.AuthorUrl">@_img.AuthorName</a> on <a href="@_img.SourceUrl">@_img.SourceName</a></p>
                <input @bind="@query" @bind:event="oninput" @onkeydown="@OnManuallyImageUpdate" />
            </div>
        </div>
    </div>
    <div class="percent">@Helpers.ToPercentString((double)(overview.Profit/overview.Plan), 1)</div>
    <div class="left">@Helpers.ToCurrencyString((decimal)overview.Left)</div>
}

@code {
    private TimeSpan timeLeft = new (0, 10, 0);
    private MonthProfitOverview? overview;
    private PieConfig _pieConfig = new PieConfig();
    private ImageResponse? _img;
    private string query = "girl";
    private PeriodicTimer periodicTimer = new(TimeSpan.FromSeconds(1));
    private DateTime from = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1, 0, 0, 0);
    private DateTime to = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59);
    private string[] colors = new[]
        {
            ColorUtil.ColorHexString(5, 47, 97),
            ColorUtil.ColorHexString(165, 14, 130),
            ColorUtil.ColorHexString(12, 90, 74),
            ColorUtil.ColorHexString(232, 125, 55),
            ColorUtil.ColorHexString(106, 158, 31),
            ColorUtil.ColorHexString(20, 150, 124),
            ColorUtil.ColorHexString(99, 8, 78),
            ColorUtil.ColorHexString(198, 35, 36),
            ColorUtil.ColorHexString(3, 28, 58),
    };

    public void Dispose() => periodicTimer?.Dispose();
    private void UpdateChart()
    {
        if (overview == null) return;
        var dataset = new PieDataset<decimal>();
        List<string> datasetColors = new();
        List<string> datasetLabels = new();
        _pieConfig.Data.Labels.Clear();
        _pieConfig.Data.Datasets.Clear();

        foreach (var item in overview.Presales.Select((presale, index) => new { index, presale }))
        {
            if ((decimal)item.presale.Statistics.Profit > 0)
            {
                dataset.Add(item.presale.Statistics.Profit);
                datasetColors.Add(colors[item.index]);
                _pieConfig.Data.Labels.Add($"{item.presale.Name}: {Helpers.ToCurrencyString(item.presale.Statistics.Profit)}");
            };
        };
        if ((decimal)overview.Left > 0)
        {
            dataset.Add((decimal)overview.Left);
            _pieConfig.Data.Labels.Add($"Осталось: {Helpers.ToCurrencyString((decimal)overview.Left)}");
            datasetColors.Add(ColorUtil.ColorHexString(240, 240, 240));
        }

        dataset.BackgroundColor = datasetColors.ToArray();
        _pieConfig.Data.Datasets.Add(dataset);
    }
    private async void RunTimer()
    {
        int count = 0;
        var second = new TimeSpan(0, 0, 1);
        while (await periodicTimer.WaitForNextTickAsync())
        {
            timeLeft = timeLeft.Subtract(second);
            if (count > 600)
            {
                count = 0;
                to = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59);
                await UpdateData(from, to);
                await UpdateImage();
                UpdateChart();
                timeLeft = new(0, 10, 0);
            }
            count++;
            StateHasChanged();
        }
    }
    private async Task UpdateData(DateTime from, DateTime to)
    {
        overview = await PresalesClient.GetMonthProfitOverviewAsync(new OverviewRequest
            {
                Period = new Period
                {
                    From = Timestamp.FromDateTime(from.ToUniversalTime()),
                    To = Timestamp.FromDateTime(to.ToUniversalTime())
                },
                Department = Department.Any,
                Position = Position.Any
            });

        if (overview == null || (decimal)overview.Profit == 0)
            overview = await PresalesClient.GetMonthProfitOverviewAsync(new OverviewRequest
                {
                    Period = new Period
                    {
                        From = Timestamp.FromDateTime(new DateTime(from.Year, from.AddMonths(-1).Month, 1).ToUniversalTime()),
                        To = Timestamp.FromDateTime(new DateTime(from.Year, from.AddMonths(-1).Month, from.AddDays(-1).Day).ToUniversalTime())
                    },
                    Department = Department.Russian,
                    Position = Position.Any,
                    OnlyActive = false
                });
    }
    private async Task UpdateImage() => _img = await PresalesClient.GetImageAsync(new ImageRequest { Keyword = query, Orientation = ImageOrientation.Portrait});

    protected override void OnInitialized() => RunTimer();
    public async void OnManuallyImageUpdate(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
            await UpdateImage();
    }
    protected override async Task OnInitializedAsync()
    {
        await UpdateData(from, to);
        await UpdateImage();

        _pieConfig.Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle { Display = false },
                Legend = new Legend { Display = false },
                Tooltips = new Tooltips { Enabled = false },
                CutoutPercentage = 30,
                Animation = new ArcAnimation
                {
                    AnimateScale = true,
                    AnimateRotate = true
                }
            };

        UpdateChart();
    }
}