<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @*<a class="navbar-brand" href="">PresalesApp.Web</a>*@
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@GetNavMenuCssClass() nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="@Localization["HomePage"]">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </div>
        <AuthorizeView>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="spreadsheet" title="@Localization["SpreadsheetPage"]">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span>
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="kpi" title="@Localization["KpiPage"]">
                    <span class="oi oi-document" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="unpaid" title="@Localization["UnpaidPage"]">
                    <span class="oi oi-dollar" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="funnel" title="@Localization["FunnelPage"]">
                    <span class="oi oi-caret-bottom" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <span class="oi" aria-hidden="true"></span>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="presales-dashboard" title="@Localization["PresalesDashboardPage"]">
                    <span class="oi oi-pie-chart" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="presales-ny-dashboard" title="@Localization["PresalesNYDashboardPage"]">
                    <span class="oi oi-fire" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sales-dashboard" title="@Localization["SalesDashboardPage"]">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span>
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>