<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="_ToggleNavMenu">
            <span class="oi @_GetCollapseIconCssClass()" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All"
                     title="@Localization["HomePage"]">
                <span class="oi oi-home" aria-hidden="true"></span>
                <span class="@_GetNavMenuCssClass() nav-item-desc"
                      aria-hidden="true">@Localization["HomePage"]</span>
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="spreadsheet"
                         title="@Localization["SpreadsheetPage"]">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span>
                    <span class="@_GetNavMenuCssClass() nav-item-desc"
                          aria-hidden="true">@Localization["SpreadsheetPage"]</span>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="kpi"
                         title="@Localization["KpiPage"]">
                    <span class="oi oi-document" aria-hidden="true"></span>
                    <span class="@_GetNavMenuCssClass() nav-item-desc"
                          aria-hidden="true">@Localization["KpiPage"]</span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="unpaid"
                         title="@Localization["UnpaidPage"]">
                    <span class="oi oi-dollar" aria-hidden="true"></span>
                    <span class="@_GetNavMenuCssClass() nav-item-desc"
                          aria-hidden="true">@Localization["UnpaidPage"]</span>
                </NavLink>
            </div>
            @*
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="funnel"
                         title="@Localization["FunnelPage"]">
                    <span class="oi oi-caret-bottom" aria-hidden="true"></span>
                    <span class="@GetNavMenuCssClass() nav-item-desc"
                          aria-hidden="true">@Localization["FunnelPage"]</span>
                </NavLink>
            </div>
            *@
            <div class="nav-item px-3">
                <span class="oi" aria-hidden="true"></span>
            </div>
            @*
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="presales-dashboard"
                         title="@Localization["PresalesDashboardPage"]">
                    <span class="oi oi-pie-chart" aria-hidden="true"></span>
                    <span class="@GetNavMenuCssClass() nav-item-desc"
                         aria-hidden="true">@Localization["PresalesDashboardPage"]</span>
                </NavLink>
            </div>
            *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="presales-ny-dashboard"
                         title="@Localization["PresalesNYDashboardPage"]">
                    <span class="oi oi-fire" aria-hidden="true"></span>
                    <span class="@_GetNavMenuCssClass() nav-item-desc"
                          aria-hidden="true">@Localization["PresalesNYDashboardPage"]</span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sales-dashboard"
                         title="@Localization["SalesDashboardPage"]">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span>
                    <span class="@_GetNavMenuCssClass() nav-item-desc"
                          aria-hidden="true">@Localization["SalesDashboardPage"]</span>
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>