@if (presales == null)
{
    <em>Loading...</em>
}
else
{
    <label>@Localization["PresaleNameText"]:</label>
    <select value="@SelectedPresale" @onchange="OnPresaleChanged" class="form-select form-select-combobox">
        <option selected="@SelectedPresale"></option>
        @foreach (var name in presales.Names)
        {
            <option value="@name">@name.GetFirstAndLastName()</option>
        }
    </select>
}