@* @page "/funnel" *@
@using PresalesApp.Shared

<PageTitle>@Localization["FunnelPage"]</PageTitle>

@if (_Response == null)
{
    <Loader />
}
else
{
    <RadzenDataGrid @ref="_Grid"
                TItem="Project"
                Data="@_Response.Projects"
                AllowFiltering="true"
                FilterMode="Radzen.FilterMode.Simple"
                AllowSorting="true"
                FilterDelay="100"
                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                AllowMultiColumnSorting="true"
                ShowMultiColumnSortingIndex="true">
        <HeaderTemplate>
            @{
                var text = _AllRowsExpanded ? Localization["CollapseAllButtonText"] : Localization["ExpandAllButtonText"];
                var icon = _AllRowsExpanded ? "unfold_less" : "unfold_more";
            }
            <div class="datagrid-header d-flex">
                <RadzenText TagName="TagName.H1" TextStyle="TextStyle.H4" Style="margin-bottom: 0">
                    @Localization["FunnelPage"]
                </RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Dark"
                          Variant="Variant.Text"
                          Text=@text
                          Icon=@icon
                          Click="@(args => _ToggleRowsExpand())"
                              class="datagrid-header-button" />
            </div>
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn Property=Presale.Name Title="@Localization["PresaleText"]" TItem=Project Width="12%">
                <Template>
                    <span style="color: var(@_SetCellColor(@context))">
                        @context.Presale?.Name
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=Number Title="@Localization["ProjectNumberText"]" TItem=Project Width="12%">
                <Template>
                    <span style="color: var(@_SetCellColor(@context))">
                        @context.Number
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=dPotential Title="@Localization["ProjectPotentialTitle"]" TItem=Project Width="12%"
                              TextAlign="TextAlign.Right" FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                <Template>
                    <span style="color: var(@_SetCellColor(@context))">
                        @(context.Potential.ToCurrencyString())
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=dtApprovalByTechDirectorAt Title="@Localization["ProjectApprovalByTechDirectorAtTitle"]"
                              TItem=Project Width="15%"
                              FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                              FilterValue="@_SelectedApprovalByTechDirectorAt">
                <Template>
                    <span style="color: var(@_SetCellColor(@context))">
                        @context.ApprovalByTechDirectorAt.ToPresaleTime()
                    </span>
                </Template>
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value=@_SelectedApprovalByTechDirectorAt ShowTime="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=dtLastActionTime Title="@Localization["ProjectLastFunnelActionTitle"]"
                              TItem=Project Width="15%"
                              FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                              FilterValue="@_SelectedLastAction" >
                <Template>
                    <span style="color: var(@_SetCellColor(@context))">
                        @(context.LastActionTime == DateTime.MinValue ? "" : context.LastActionTime.ToPresaleTime())
                    </span>
                </Template>
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value=@_SelectedLastAction ShowTime="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=Name Title="@Localization["ProjectNameText"]" TItem=Project >
                <Template>
                    <span style="color: var(@_SetCellColor(@context))">
                        @context.Name
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=FunnelStage Title="@Localization["ProjectFunnelStageTitle"]" TItem=Project
                              Filterable="true"
                              Width="160px"
                              FilterValue=@_SelectedStage>
                <Template>
                    <FunnelStagePicker Project=@context DataGrid=@_Grid OnChange="(() => StateHasChanged())" />
                </Template>
                <FilterTemplate>
                    <RadzenDropDown @bind-Value=@_SelectedStage
                                Style="width: 160px;" Context="stage"
                                Data="@(System.Enum.GetValues(typeof(FunnelStage)).Cast<FunnelStage?>())"
                                AllowClear="true" Change="@_DropDown0Change">
                                    <Template>
                                        @(((FunnelStage)stage).GetLocalizedName(Localization))
                                    </Template>
                    </RadzenDropDown>
                </FilterTemplate>
            </RadzenDataGridColumn>
        </Columns>
        <Template Context="project">
            <RadzenText>
                @Localization["ActionsPlaceholder"]:
            </RadzenText>
            <RadzenDataGrid Data=@project.Actions
                            TItem="PresalesApp.Shared.Action" ShowColumnTitleAsTooltip="false">
                <Columns>
                    <RadzenDataGridColumn Property="Number" Title="@Localization["ActionNumberText"]" TItem="PresalesApp.Shared.Action" Width="10%" />
                    <RadzenDataGridColumn Property=dtDate Title="@Localization["ActionDateText"]" TItem="PresalesApp.Shared.Action" Width="15%"
                                      Context="action"
                                      FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                                      FilterValue="@_SelectedDate">
                        <Template>
                            @action.Date.ToPresaleTime()
                        </Template>
                        <FilterTemplate>
                            <RadzenDatePicker @bind-Value=@_SelectedDate ShowTime="true" />
                        </FilterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="Description" Title="@Localization["ActionDescriptionText"]" TItem="PresalesApp.Shared.Action"/>
                </Columns>
            </RadzenDataGrid>
        </Template>
    </RadzenDataGrid>
}