@page "/funnel"

<PageTitle>@Localization["FunnelPage"]</PageTitle>

@if (response == null)
{
    <Loader />
}
else
{
    <RadzenDataGrid @ref="grid"
                TItem="Project"
                Data="@response.Projects"
                AllowFiltering="true"
                FilterMode="Radzen.FilterMode.Simple"
                AllowSorting="true"
                FilterDelay="100"
                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                AllowMultiColumnSorting="true"
                ShowMultiColumnSortingIndex="true">
        <HeaderTemplate>
            @{
                var text = allRowsExpanded ? Localization["CollapseAllButtonText"] : Localization["ExpandAllButtonText"];
                var icon = allRowsExpanded ? "unfold_less" : "unfold_more";
            }
            <div class="datagrid-header d-flex">
                <RadzenText TagName="TagName.H1" TextStyle="TextStyle.H4" Style="margin-bottom: 0">
                    @Localization["FunnelPage"]
                </RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Dark"
                          Variant="Variant.Text"
                          Text=@text
                          Icon=@icon
                          Click="@(args => ToggleRowsExpand())"
                              class="datagrid-header-button" />
            </div>
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn Property=Presale.Name Title="@Localization["PresaleNameText"]" TItem=Project Width="12%">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.Presale?.Name
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=Number Title="@Localization["ProjectNumberText"]" TItem=Project Width="12%">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.Number
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=dPotential Title="@Localization["ProjectPotentialText"]" TItem=Project Width="12%"
                              TextAlign="TextAlign.Right" FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.dPotential.ToCurrencyString()
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=dtApprovalByTechDirectorAt Title="@Localization["ProjectApprovalByTechDirectorAtText"]"
                              TItem=Project Width="15%"
                              FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                              FilterValue="@_selectedApprovalByTechDirectorAt">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.dtApprovalByTechDirectorAt.ToPresaleTime()
                    </span>
                </Template>
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value=@_selectedApprovalByTechDirectorAt ShowTime="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=dtLastActionTime Title="@Localization["ProjectLastFunnelActionText"]"
                              TItem=Project Width="15%"
                              FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                              FilterValue="@_selectedLastAction" >
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @(context.dtLastActionTime == DateTime.MinValue ? "" : context.dtLastActionTime.ToPresaleTime())
                    </span>
                </Template>
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value=@_selectedLastAction ShowTime="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=Name Title="@Localization["ProjectNameText"]" TItem=Project >
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.Name
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property=FunnelStage Title="@Localization["ProjectFunnelStageText"]" TItem=Project
                              Filterable="true"
                              Width="160px"
                              FilterValue=@_selectedStage>
                <Template>
                    <ProjectFunnelStageSelector Project=@context DataGrid=@grid OnChange="(() => StateHasChanged())" />
                </Template>
                <FilterTemplate>
                    <RadzenDropDown @bind-Value=@_selectedStage
                                Style="width: 160px;" Context="stage"
                                Data="@(System.Enum.GetValues(typeof(FunnelStage)).Cast<FunnelStage?>())"
                                AllowClear="true" Change="@DropDown0Change">
                                    <Template>
                                        @(((FunnelStage)stage).GetLocalizedName(Localization))
                                    </Template>
                    </RadzenDropDown>
                </FilterTemplate>
            </RadzenDataGridColumn>
        </Columns>
        <Template Context="project">
            <RadzenText>
                @Localization["ActionsPlaceholder"]:
            </RadzenText>
            <RadzenDataGrid Data=@project.Actions
                TItem="Web.Shared.Action" ShowColumnTitleAsTooltip="false">
                <Columns>
                    <RadzenDataGridColumn Property="Number" Title="@Localization["ActionNumberText"]" TItem="Web.Shared.Action" Width="10%"/>
                    <RadzenDataGridColumn Property=dtDate Title="@Localization["ActionDateText"]" TItem="Web.Shared.Action" Width="15%"
                                      Context="action"
                                      FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                                      FilterValue="@_selectedDate">
                        <Template>
                            @action.dtDate.ToPresaleTime()
                        </Template>
                        <FilterTemplate>
                            <RadzenDatePicker @bind-Value=@_selectedDate ShowTime="true" />
                        </FilterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="Description" Title="@Localization["ActionDescriptionText"]" TItem="Web.Shared.Action"/>
                </Columns>
            </RadzenDataGrid>
        </Template>
    </RadzenDataGrid>
}