@page "/funnel"

<PageTitle>@Localization["FunnelPage"]</PageTitle>

<h1>@Localization["FunnelPage"]</h1>

<DataGrid TItem="Project"
          Data="@response?.Projects"
          @bind-SelectedRow="@_selectedProject"
          DetailRowStartsVisible="false"
          Filterable
          Sortable="false"
          RowStyling="@OnRowStyling"
          ShowPager
          SelectedRowStyling="@OnRowStyling"
          Responsive>
    <DataGridColumns>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(Project.Presale)" Caption="@Localization["PresaleNameText"]" Editable="false" Width="15%" CustomFilter="@OnPresaleFilter">
            <DisplayTemplate>
                @{
                    var name = (context as Project)?.Presale?.Name;
                    string placeholder = Localization["PresaleNotAssignedYetMessage"];
                    if (!string.IsNullOrEmpty(name))
                        placeholder = name;
                }
                @placeholder
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn Field="@nameof(Project.Number)" Caption="@Localization["ProjectNumberText"]" Editable="false" Width="10%" CustomFilter="@OnDefaultFilter" />
        <DataGridColumn Field="@nameof(Project.Potential)" Caption="@Localization["ProjectPotentialText"]" Editable="false" Width="15%" CustomFilter="@OnPotentialFilter">
            <DisplayTemplate>
                @($"{@Helpers.ToCurrencyString((context as Project)?.Potential, "ru-RU")}")
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn Field="@nameof(Project.Name)" Caption="@Localization["ProjectNameText"]" Editable="false" CustomFilter="@OnDefaultFilter" />
    </DataGridColumns>
    <DetailRowTemplate>
        @{
            var actions = (context as Project).Actions.Where(a => a.SalesFunnel).OrderBy(a => a.Number);
            if (!actions.Any()) return;
            <DataGrid TItem="Web.Shared.Action"
                  Data="actions"
                  Sortable="false"
                  ShowCaptions="false">
                <DataGridCommandColumn />
                <DataGridNumericColumn Field="@nameof(Web.Shared.Action.Number)" />
                <DataGridColumn Field="@nameof(Web.Shared.Action.Date)" Context="action" Width="15%">
                    <DisplayTemplate>
                        @($"{(action as Web.Shared.Action)?.Date.ToDateTime().ToPresaleTime()}")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridDateColumn Field="@nameof(Web.Shared.Action.Description)" />
            </DataGrid>
        }
    </DetailRowTemplate>
</DataGrid>

@code {
    [CascadingParameter]
    public MessageSnackbar messageHandler { get; set; }

    private Project _selectedProject;
    private FunnelProjects? response;

    private bool OnDefaultFilter(object itemValue, object searchValue)
    {
        if (searchValue is string defaultFilter)
        {
            return itemValue.ToString()?.Contains(defaultFilter, StringComparison.OrdinalIgnoreCase) ?? true;
        }

        return true;
    }

    private void OnRowStyling(Project project, DataGridRowStyling styling)
    {
        if (!project.Actions.Any(a => a.SalesFunnel))
            styling.Style = "color: red;";
    }

    private bool OnPotentialFilter(object itemValue, object searchValue)
    {
        var potential = (decimal)((DecimalValue)itemValue);

        if (decimal.TryParse(searchValue?.ToString(), out var filter))
        {
            return potential > filter;
        }

        return true;
    }

    private bool OnPresaleFilter(object itemValue, object searchValue)
    {
        var presale = (Presale)itemValue;
        var search = searchValue?.ToString() ?? string.Empty;
        return presale?.Name?.StartsWith(search, StringComparison.OrdinalIgnoreCase) ?? true;
    }

    protected override async Task OnParametersSetAsync() => await UpdateData();

    private async Task UpdateData()
    {
        try
        {
            response = await Api.GetFunnelProjectsAsync(new Empty());
        }
        catch (Exception e)
        {
            await messageHandler.Show(e.Message);
        }
        StateHasChanged();
    }
}
