@page "/funnel"

<PageTitle>@Localization["FunnelPage"]</PageTitle>

@if (response == null)
{
    <Loader />
}
else
{
    <RadzenDataGrid @ref="grid"
                TItem="Project"
                Data="@response.Projects"
                AllowFiltering="true"
                FilterMode="Radzen.FilterMode.Simple"
                AllowSorting="true"
                FilterDelay="100"
                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive">
        <HeaderTemplate>
            @{
                var text = allRowsExpanded ? "Collapse all rows" : "Expand all rows";
                var icon = allRowsExpanded ? "unfold_less" : "unfold_more";
            }
            <div class="datagrid-header d-flex">
                <RadzenText TagName="TagName.H1" TextStyle="TextStyle.H4" Style="margin-bottom: 0">
                    @Localization["FunnelPage"]
                </RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Dark"
                          Variant="Variant.Text"
                          Text=@text
                          Icon=@icon
                          Click="@(args => ToggleRowsExpand())"
                              class="datagrid-header-button" />
            </div>
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn TItem=Project Property=Presale.Name Title="Presale">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.Presale?.Name
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem=Project Property=Number Title="Number">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.Number
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem=Project
                              Property=dPotential
                              Title="Potential"
                              FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.dPotential.ToCurrencyString()
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem=Project
                              Property=dtApprovalByTechDirectorAt
                              Title="ApprovalByTechDirectorAt"
                              FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                              FilterValue="@_selectedApprovalByTechDirectorAt">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.dtApprovalByTechDirectorAt.ToPresaleTime()
                    </span>
                </Template>
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value=@_selectedApprovalByTechDirectorAt ShowTime="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem=Project Property=Name Title="Name">
                <Template>
                    <span style="color: var(@SetCellColor(@context))">
                        @context.Name
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem=Project
                              Property=FunnelStage
                              Title="FunnelStage"
                              Filterable="true"
                              Width="160px"
                              FilterValue=@_selectedStage>
                <Template>
                    <ProjectFunnelStageSelector Project=@context />
                </Template>
                <FilterTemplate>
                    <RadzenDropDown @bind-Value=@_selectedStage
                                Style="width: 160px;"
                                Data="@(System.Enum.GetValues(typeof(FunnelStage)).Cast<FunnelStage?>())"
                                AllowClear="true" Change="@DropDown0Change" />
                </FilterTemplate>
            </RadzenDataGridColumn>
        </Columns>
        <Template>
            @{
                var actions = context.Actions.Where(a => a.SalesFunnel).OrderBy(a => a.Number);
                if (!actions.Any()) return;
            }
            <RadzenText>
                Actions:
            </RadzenText>
            <RadzenDataGrid Data=@actions TItem="Web.Shared.Action" ShowColumnTitleAsTooltip="false">
                <Columns>
                    <RadzenDataGridColumn TItem="Web.Shared.Action" Property="Number" Title="Number" Width="10%" />
                    <RadzenDataGridColumn TItem="Web.Shared.Action"
                                      Property=dtDate
                                      Title="Date"
                                      FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals"
                                      FilterValue="@_selectedDate"
                                      Context="action"
                                      Width="15%">
                        <Template>
                            @action.dtDate.ToPresaleTime()
                        </Template>
                        <FilterTemplate>
                            <RadzenDatePicker @bind-Value=@_selectedDate ShowTime="true" />
                        </FilterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Web.Shared.Action" Property="Description" Title="Description" />
                </Columns>
            </RadzenDataGrid>
        </Template>
    </RadzenDataGrid>
}