@page "/presales-dashboard"
@using System.Threading
@implements IDisposable
@layout Infographic

<PageTitle>@Localization["PresalesDashboardPage"]</PageTitle>

<div class="dashboard">
    <div class="chart">
        <div class="legend">
            @if (overview != null)
            {
                foreach (var item in overview.Presales.Select((presale, index) => new { index, presale }))
                {
                    if ((decimal)item.presale.Statistics.Profit > 0)
                    {
                        <div>
                            <div style="background: @ChartColor.FromRgba(colors[item.index].R, colors[item.index].G, colors[item.index].B, color_alfa).ToString()"></div>
                            <p>@item.presale.Name.GetFirstAndLastName():</p>
                            <p>@Helper.ToCurrencyString(item.presale.Statistics.Profit)</p>
                        </div>
                    }
                }
            }
            else
            {
                <Loader />
            }
        </div>
        <div class="delta-container timer-container">
            <div class="timer">@time_left</div>
            @if (overview != null && day_profit > 0)
            {
                <div class="delta">+@Helper.ToCurrencyString(day_profit)</div>
            }
        </div>
        <div class="pie">
            <PieChart @ref="chart" TItem="decimal" OptionsJsonString="@GetChartOptions()" />
        </div>
        <div style="position: relative">
            @if (overview != null)
            {
                <div class="percent">@(overview.Plan != 0 ? Helper.ToPercentString((double)(overview.Profit.Values.Sum(d => (decimal)d) / overview.Plan), 1) : "")</div>
                <div class="left">@Helper.ToCurrencyString((decimal)overview.Left)</div>
            }
        </div>
    </div>
    <div class="img-container">
        @if (img != null)
        {
            <img src="@img.Regular" alt="@img.AltDescription" />
            <div>
                <p>
                    @((MarkupString)Localization["UnsplashCredits",
                        (MarkupString)$"<a href=\"{img.AuthorUrl}\" target=\"_blank\">{img.AuthorName}</a>",
                        (MarkupString)$"<a href=\"{img.SourceUrl}\" target=\"_blank\">{img.SourceName}</a>"].Value)
                </p>
                <RadzenIcon Icon="@Helper.GetIcon(keyword_type)" @onclick="@(() => OnImageKeywordTypeChange())" title="@Helper.GetIcon(keyword_type)" Style="cursor: default;" />
                <input @bind="@image_keyword" @bind:event="oninput" @onkeydown="@OnManuallyImageUpdate" />
            </div>
        }
    </div>
</div>