@page "/presales-ny-dashboard"
@implements IDisposable
@layout Infographic

<div class="layout">
    <div class="percent plan content">
        <fieldset style="background-color: @ChartColor.FromRgba(255, 206, 86, 0.1f).ToJsRgba()">
            <legend>@(IsRealisticPlanDone ? "Амбициозный" : "Реалистичный") план</legend>
            <div class="fs-content-layout">
                <p class="fs-content">@GetProgressPercentString(overview?.Presales.Sum(p => p.Statistics.Profit), IsRealisticPlanDone ? 150_000_000 : 120_000_000)</p>
                <div class="fs-desc">
                    <p>@Helper.ToCurrencyString(overview?.Profit.Values.Sum(amount => amount) ?? 0, shortFormat: true)</p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="day-profit plan content">
        <fieldset style="background-color: @ChartColor.FromRgba(255, 206, 86, 0.1f).ToJsRgba()">
            <legend>Прирост за день</legend>
            <div class="fs-content-layout">
                <p class="fs-content">@Helper.ToCurrencyString(day_profit, shortFormat: true)</p>
                <div class="fs-desc">
                    <p>@Helper.ToCurrencyString((overview?.Profit.Values.Sum(amount => amount) ?? 0) - (IsRealisticPlanDone ? 150_000_000 : 120_000_000), shortFormat: true, allowNegatives: true)</p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="chart content">
        <LineChart @ref="line_chart" TItem="decimal" OptionsJsonString="@GetChartOptions()" />
    </div>
    <div class="allocation content">
        @if (overview is not null)
        {
            <RadzenDataGrid TItem="Presale"
                            Style="border: none !important;"
                            Data="@sorted_presales">
                <Columns>
                    <RadzenDataGridColumn Property="Name" Title="@Localization["PresaleNameText"]" TItem=Presale FooterCssClass="pnyd-footer" Width="20%">
                        <Template>
                            @Helper.GetFirstAndLastName(context.Name)
                        </Template>
                        <FooterTemplate>
                            @Localization["TotalText"]
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="Statistics.Profit" Title="Сумма" TItem=Presale FooterCssClass="pnyd-footer" CssClass="pnyd-progress" Width="35%"
                                          TextAlign="TextAlign.Right" FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                        <Template>
                            <div class="profit-layout">
                                <div class="profit-progress" style="width: @GetProgressPercentString(context.Statistics.Profit, overview.Presales.Max(p => p.Statistics.Profit)); background-color: @ChartColor.FromRgba(12, 90, 74, 0.3f).ToJsRgba()"> &nbsp; </div>
                                <span class="profit">
                                    @Helper.ToCurrencyString(context.Statistics.Profit)
                                </span>
                            </div>
                        </Template>
                        <FooterTemplate>
                            @Helper.ToCurrencyString(overview?.Presales.Sum(i => i.Statistics.Profit) ?? 0)
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="Proportion" Title="Доля" TItem=Presale FooterCssClass="pnyd-footer" Width="10%"
                                          TextAlign="TextAlign.Right" FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                        <Template>
                            @GetProgressPercentString(context.Statistics.Profit, overview.Presales.Sum(p => p.Statistics.Profit))
                        </Template>
                        <FooterTemplate>
                            100&nbsp;%
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="Invoices" Title="Счетов" TItem=Presale FooterCssClass="pnyd-footer" Width="10%"
                                          TextAlign="TextAlign.Right" FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                        <Template>
                            @(context.Statistics.Invoices - context.Statistics.InvoicesShipped)
                        </Template>
                        <FooterTemplate>
                            @(overview?.Presales.Sum(i => i.Statistics.Invoices - i.Statistics.InvoicesShipped) ?? 0)
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="InvoicesShipped" Title="Отгружено" TItem=Presale FooterCssClass="pnyd-footer" CssClass="pnyd-progress" Width="25%"
                                          TextAlign="TextAlign.Right" FilterOperator="Radzen.FilterOperator.GreaterThanOrEquals">
                        <Template>
                            <div class="profit-layout">
                                <div class="profit-progress" style="width: @GetProgressPercentString(context.Statistics.InvoicesShipped, overview.Presales.Max(p => p.Statistics.InvoicesShipped)); background-color: @ChartColor.FromRgba(colors[sorted_presales.IndexOf(context)].R, colors[sorted_presales.IndexOf(context)].G, colors[sorted_presales.IndexOf(context)].B, 0.3f).ToJsRgba()"> &nbsp; </div>
                                <span class="profit">
                                    @($"{context.Statistics.InvoicesShipped}")
                                </span>
                            </div>
                        </Template>
                        <FooterTemplate>
                            @(overview?.Presales.Sum(i => i.Statistics.InvoicesShipped) ?? 0)
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    </div>
    <div class="invoices-chart content" style="display: none;">
        <div class="invoices-chart-container content">
            <PieChart @ref="invoices_chart" TItem="int" OptionsJsonString="@GetInvoicesChartOptions()" />
        </div>
    </div>
    <div class="img-container content">
        <img src="@img?.Regular" alt="@img?.AltDescription" />
    </div>
    <div class="img-credits content">
        <p>
            @((MarkupString)Localization["UnsplashCredits",
                (MarkupString)$"<a href=\"{img?.AuthorUrl}\" target=\"_blank\">{img?.AuthorName}</a>",
                (MarkupString)$"<a href=\"{img?.SourceUrl}\" target=\"_blank\">{img?.SourceName}</a>"].Value)
        </p>
    </div>
    <div class="img-keyword content">
        <RadzenIcon Icon="@Helper.GetIcon(_keyword_type)" @onclick="@(() => OnImageKeywordTypeChange())" title="@Helper.GetIcon(_keyword_type)" Style="cursor: default;" />
        <input @bind="@image_keyword" @bind:event="oninput" @onkeydown="@OnManuallyImageUpdate" />
    </div>
</div>