@page "/sales-dashboard"
@using System.Threading
@using System.Globalization
@using pax.BlazorChartJs
@implements IDisposable
@layout Infographic
@inject IJSRuntime js

<PageTitle>@Localization["SalesDashboardPage"]</PageTitle>

<div class="overview">
    <div class="legend">
        <fieldset class="previousActualProfit">
            <legend>Факт @(_Previous.GetLocalizedPeriodName(Localization, false))</legend>
            <p>
                @if (_OverviewResponse != null)
                {
                    @Helpers.ToCurrencyString(_OverviewResponse.PreviousActualProfit)
                }
            </p>
        </fieldset>
        <fieldset class="salesTarget">
            <legend>План @(_Current.GetLocalizedPeriodName(Localization, false))</legend>
            <p>
                @if (_OverviewResponse != null)
                {
                    @Helpers.ToCurrencyString(_OverviewResponse.CurrentSalesTarget)
                }
            </p>
        </fieldset>
        <fieldset class="actualProfit">
            <legend>Факт @(_Current.GetLocalizedPeriodName(Localization, false))</legend>
            <p>
                @if (_OverviewResponse != null)
                {
                    @Helpers.ToCurrencyString(_OverviewResponse.CurrentActualProfit)
                }
            </p>
        </fieldset>
        <fieldset class="increase">
            <legend>Динамика</legend>
            <p>
                @if (_OverviewResponse != null)
                {
                    @(Helpers.ToCurrencyString(_OverviewResponse.CurrentActualProfit
                        - _OverviewResponse.PreviousActualProfit, allowNegatives: true))
                }
            </p>
        </fieldset>
    </div>
    @if (_OverviewResponse == null)
    {
        <Loader />
    }
    <div class="chart">
        <div class="charts">            
            <ChartComponent ChartJsConfig="_PieChartConfig" />
            <div class="percent">
                <p>
                    @if (_OverviewResponse != null)
                    {
                        @(Helpers.ToPercentString(_OverviewResponse.CurrentSalesTarget != 0
                            ? decimal.ToDouble(_OverviewResponse.CurrentActualProfit / _OverviewResponse.CurrentSalesTarget)
                            : 0))
                    }
                </p>
            </div>
        </div>
        <div class="top">
            <fieldset class="leaderboard">
                <legend>Лидеры продаж</legend>
                <table>
                    @if (_OverviewResponse != null)
                    {
                        @foreach (var item in _OverviewResponse.CurrentTopSalesManagers
                            .Select((manager, index) => new { index, manager }))
                        {
                            var manager = item.manager;
                            <tr>
                                <td><div style="background:@_DatasetColors[item.index]">&nbsp;</div></td>
                                <td>@(item.index + 1). </td>
                                <td>@manager.Name</td>
                                <td>@Helpers.ToCurrencyString(manager.Profit)</td>
                            </tr>
                        }
                    }
                </table>
            </fieldset>
        </div>
    </div>
</div>
<div class="params d-flex">
    <div class="@_ClassHide">
        <label>Предыдущий период:</label>
        <PeriodPicker Period="@_Previous"
                      PeriodChanged="(async (period) => { _Previous = period; await _OnPeriodChanged(); })" />
        <p />
        <label>Текущий период:</label>
        <PeriodPicker Period="@_Current"
                      PeriodChanged="(async (period) => { _Current = period; await _OnPeriodChanged(); })" />
        <p />
        <button class="btn btn-primary" title="@_TitlePin" @onclick="_PinParams">
            <span class="oi oi-pin @_ClassRotatePin" />
        </button>
        <button class="btn btn-primary" title="Обновить данные" @onclick="_HandleRedrawChart">
            <span class="oi oi-reload" />
        </button>
    </div>
</div>