@page "/sales-dashboard"
@using System.Threading
@using System.Globalization
@implements IDisposable
@layout InfographicsLayout
@inject IJSRuntime js

<PageTitle>@Localization["SalesDashboardPage"]</PageTitle>

<div class="overview">
        <div class="legend">
            <fieldset class="previousActualProfit">
                <legend>Факт @(Previous.GetLocalizedPeriodName(Localization, false))</legend>
                <p>
                    @if (overview != null)
                {
                    @Helpers.ToCurrencyString(overview.PreviousActualProfit)
                    ;
                }
            </p>
        </fieldset>
        <fieldset class="salesTarget">
            <legend>План @(Current.GetLocalizedPeriodName(Localization, false))</legend>
            <p>@if (overview != null)
                {
                    @Helpers.ToCurrencyString(overview.CurrentSalesTarget)
                    ;
                }</p>
        </fieldset>
        <fieldset class="actualProfit">
            <legend>Факт @(Current.GetLocalizedPeriodName(Localization, false))</legend>
            <p>@if (overview != null)
                {
                    @Helpers.ToCurrencyString(overview.CurrentActualProfit)
                    ;
                }</p>
        </fieldset>
        <fieldset class="increase">
            <legend>Динамика</legend>
            <p>@if (overview != null)
                {
                    @Helpers.ToCurrencyString(overview.CurrentActualProfit - overview.PreviousActualProfit, true)
                    ;
                }</p>
        </fieldset>
    </div>
    @if (overview == null)
    {
        <Loader />
    }
    <div class="chart">
        <div class="charts">
            <PieChart @ref="profitChart" TItem="decimal" OptionsJsonString="@GetPieChartOptions()" />
            <div class="percent">
                <p>
                    @if (overview != null)
                    {
                        @Helpers.ToPercentString(overview.CurrentSalesTarget != 0 ? decimal.ToDouble(overview.CurrentActualProfit / overview.CurrentSalesTarget) : 0)
                        ;
                    }
                </p>
            </div>
        </div>
        <div class="top">
            <fieldset class="leaderboard">
                <legend>Лидеры продаж</legend>
                <table>
                    @if (overview != null)
                    {
                        @foreach (var item in overview.CurrentTopSalesManagers.Select((manager, index) => new { index, manager }))
                        {
                            var manager = item.manager;
                            <tr>
                                <td><div style="background:@dataset_colors[item.index]">&nbsp;</div></td>
                                <td>@(item.index + 1). </td>
                                <td>@manager.Name</td>
                                <td>@Helpers.ToCurrencyString(manager.Profit)</td>
                            </tr>
                        }
                    }
                </table>
            </fieldset>
        </div>
    </div>
</div>
<div class="params d-flex">
    <div class="@class_hide">
        <label>Предыдущий период:</label>
        <PeriodPicker Period="@Previous" PeriodChanged="(async (period) => { Previous = period; await OnPeriodChanged(); })" />
        <p />
        <label>Текущий период:</label>
        <PeriodPicker Period="@Current" PeriodChanged="(async (period) => { Current = period; await OnPeriodChanged(); })" />
        <p />
        <button class="btn btn-primary" title="@title_pin" @onclick="PinParams">
            <span class="oi oi-pin @class_rotatePin" />
        </button>
        <button class="btn btn-primary" title="Обновить данные" @onclick="HandleRedrawChart">
            <span class="oi oi-reload" />
        </button>
    </div>
</div>