@* @page "/spreadsheet" *@
@using System.Threading
@using Department = PresalesApp.Web.Shared.Department
@using Position = PresalesApp.Web.Shared.Position
@implements IDisposable

<PageTitle>@Localization["SpreadsheetPage"]</PageTitle>

<h1>@Localization["SpreadsheetPage"]</h1>
<div class="d-flex">
    <PeriodPicker Period="@_period" PeriodChanged="OnPeriodChanged" />
    <DepartmentPicker Department="@_department" OnSelectCallback="OnDepartmentChange" />
    <PositionPicker Position="@_position" OnSelectCallback="OnPositionChange" />
    <input title="Только действующие" type="checkbox" id="onlyActive" value="@_only_active_ones"
            @onchange="OnStatusChange"
            checked class="inline-check inline-check-big" style="cursor: help;" />
</div>
@if (_overview == null)
{
    <Loader />
}
else
{
    <table class="table">
        <thead class="pmthead">
            <tr>
                <th rowspan="2" style="width:11%">Пресейл</th>
                <th colspan="10">@_period.GetLocalizedPeriodName(Localization)</th>
                <th rowspan="2" style="width:5%" title="@title_abandoned">Abnd</th>
                <th rowspan="2" style="width:6%" title="@title_avg_time_to_win">AvgTTW</th>
                <th rowspan="2" style="width:5%" title="@title_avg_rank">AvgR</th>
            </tr>
            <tr>
                <th style="width:5%" title="@GetTitleInWork()">InWork</th>
                <th style="width:5%" title="@title_assign">Assign</th>
                <th style="width:5%" title="@title_won">Won</th>
                <th style="width:5%" title="@title_conversion">Convr</th>
                <th style="width:5%" title="@title_loss">Loss</th>
                <th style="width:11%">Потенциал</th>
                <th style="width:10%">Чистые</th>
                <th style="width:6%" title="@title_avg_time_to_reaction">AvgTTR</th>
                <th style="width:4%" title="@title_time_spend">Sum</th>
                <th style="width:4%" title="@title_avt_time_spend">Avg</th>
            </tr>
        </thead>
        <tbody class="pmtbody">
            @foreach (var presale in _overview.Presales)
            {
                <tr>
                    <td>@presale.Name.GetFirstAndLastName()</td>
                    <td title="@GetTitleInWork()">@Helper.ToEmptyIfZeroString(presale.Statistics.InWork)</td>
                    <td title="@title_assign">@Helper.ToEmptyIfZeroString(presale.Statistics.Assign)</td>
                    <td title="@title_won">@Helper.ToEmptyIfZeroString(presale.Statistics.Won)</td>
                    <td title="@title_conversion">@Helper.ToPercentString(presale.Statistics.Conversion)</td>
                    <td title="@title_loss">@Helper.ToEmptyIfZeroString(presale.Statistics.Loss)</td>
                    <td>@Helper.ToCurrencyString(presale.Statistics.Potential)</td>
                    <td>@Helper.ToCurrencyString(presale.Statistics.Profit)</td>
                    <td title="@title_avg_time_to_reaction">@Helper.ToMinutesString(presale.Statistics.AvgTimeToReaction.ToTimeSpan())</td>
                    <td title="@title_time_spend">@Helper.ToHoursString(presale.Statistics.SumSpend.ToTimeSpan())</td>
                    <td title="@title_avt_time_spend">@Helper.ToHoursString(presale.Statistics.AvgSpend.ToTimeSpan())</td>
                    <td title="@title_abandoned">@Helper.ToEmptyIfZeroString(presale.Statistics.Abnd)</td>
                    <td title="@title_avg_time_to_win">@Helper.ToDaysString(presale.Statistics.AvgTimeToWin.ToTimeSpan())</td>
                    <td title="@title_avg_rank">@Helper.ToEmptyIfZeroString(Math.Round(presale.Statistics.AvgRank, 1))</td>
                </tr>
            }
            <tr>
                <td>Всего</td>
                <td title="@GetTitleInWork()">@Helper.ToEmptyIfZeroString(_overview.Statistics.InWork)</td>
                <td title="@title_assign">@Helper.ToEmptyIfZeroString(_overview.Statistics.Assign)</td>
                <td title="@title_won">@Helper.ToEmptyIfZeroString(_overview.Statistics.Won)</td>
                <td title="@title_conversion">@Helper.ToPercentString(_overview.Statistics.Conversion)</td>
                <td title="@title_loss">@Helper.ToEmptyIfZeroString(_overview.Statistics.Loss)</td>
                <td>@Helper.ToCurrencyString(_overview.Statistics.Potential)</td>
                <td>@Helper.ToCurrencyString(_overview.Statistics.Profit)</td>
                <td title="@title_avg_time_to_reaction">@Helper.ToMinutesString(_overview.Statistics.AvgTimeToReaction.ToTimeSpan())</td>
                <td title="@title_time_spend">@Helper.ToHoursString(_overview.Statistics.SumSpend.ToTimeSpan())</td>
                <td title="@title_avt_time_spend">@Helper.ToHoursString(_overview.Statistics.AvgSpend.ToTimeSpan())</td>
                <td title="@title_abandoned">@Helper.ToEmptyIfZeroString(_overview.Statistics.Abnd)</td>
                <td title="@title_avg_time_to_win">@Helper.ToDaysString(_overview.Statistics.AvgTimeToWin.ToTimeSpan())</td>
                <td title="@title_avg_rank">@Math.Round(_overview.Statistics.AvgRank, 1)</td>
            </tr>
        </tbody>
    </table>

    @if (_overview.AvgDirectorTimeToReaction.Seconds > 0)
    {
        <p>Среднее время реакции руководителя (среднее время до назначения) в минутах: @Helper.ToMinutesString(_overview.AvgDirectorTimeToReaction.ToTimeSpan())</p>
    }
    @if (_overview.Escalations.Count > 0)
    {
        <details class="pmspoiler">
            <summary>Проекты с нарушением пунктов 3.1 и 3.2 Регламента (просроченные): @_overview.Escalations.Count</summary>
            @foreach (var project in _overview.Escalations)
            {
                <p>@Format(project)</p>
            }
        </details>
    }
    @if (_overview.Forgotten.Count > 0)
    {
        <details class="pmspoiler">
            <summary>Проекты без отметки начала работы пресейлом (забытые): @_overview.Forgotten.Count</summary>
            @foreach (var project in _overview.Forgotten)
            {
                <p>@Format(project)</p>
            }
        </details>
    }
    @if (_overview.New.Count > 0)
    {
        <details class="pmspoiler">
            <summary>Новые проекты (ожидают распределения): @_overview.New.Count</summary>
            @foreach (var project in _overview.New)
            {
                <p>@Format(project)</p>
            }
        </details>
    }
}