@page "/spreadsheet"
@using System.Threading
@using PresalesApp.Shared
@using Position = PresalesApp.Shared.Position
@implements IDisposable

<PageTitle>@Localization["SpreadsheetPage"]</PageTitle>

<h1>@Localization["SpreadsheetPage"]</h1>
<div class="d-flex">
    <PeriodPicker Period="@_Period" PeriodChanged="_OnPeriodChanged" />
    <DepartmentPicker Department="@_Department" OnSelectCallback="_OnDepartmentChange" />
    <PositionPicker Position="@_Position" OnSelectCallback="_OnPositionChange" />
    <input title="Только действующие" type="checkbox" id="onlyActive" value="@_OnlyActiveOnes"
           @onchange="_OnStatusChange"
           checked class="inline-check inline-check-big" style="cursor: help;" />
</div>
@if (_OverviewResponse == null)
{
    <Loader />
}
else
{
    <table class="table">
        <thead class="pmthead">
            <tr>
                <th rowspan="2" style="width:11%">Пресейл</th>
                <th colspan="10">@_Period.GetLocalizedPeriodName(Localization)</th>
                <th rowspan="2" style="width:5%" title="@_TitleAbandoned">Abnd</th>
                <th rowspan="2" style="width:6%" title="@_TitleAvgTimeToWin">AvgTTW</th>
                <th rowspan="2" style="width:5%" title="@_TitleAvgRank">AvgR</th>
            </tr>
            <tr>
                <th style="width:5%" title="@_GetTitleInWork()">InWork</th>
                <th style="width:5%" title="@_TitleAssign">Assign</th>
                <th style="width:5%" title="@_TitleWon">Won</th>
                <th style="width:5%" title="@_TitleConversion">Convr</th>
                <th style="width:5%" title="@_TitleLoss">Loss</th>
                <th style="width:11%">Потенциал</th>
                <th style="width:10%">Чистые</th>
                <th style="width:6%" title="@_TtitleAvgTimeToReaction">AvgTTR</th>
                <th style="width:4%" title="@_TitleTimeSpend">Sum</th>
                <th style="width:4%" title="@_TitleAvtTimeSpend">Avg</th>
            </tr>
        </thead>
        <tbody class="pmtbody">
            @foreach (var presale in _OverviewResponse.Presales)
            {
                <tr>
                    <td>@presale.Name.GetFirstAndLastName()</td>
                    <td title="@_GetTitleInWork()">
                        @Helper.ToEmptyIfZeroString(presale.Metrics.InWork)
                    </td>
                    <td title="@_TitleAssign">
                        @Helper.ToEmptyIfZeroString(presale.Metrics.Assign)
                    </td>
                    <td title="@_TitleWon">
                        @Helper.ToEmptyIfZeroString(presale.Metrics.Won)
                    </td>
                    <td title="@_TitleConversion">
                        @Helper.ToPercentString(presale.Metrics.Conversion)
                    </td>
                    <td title="@_TitleLoss">
                        @Helper.ToEmptyIfZeroString(presale.Metrics.Loss)
                    </td>
                    <td>
                        @Helper.ToCurrencyString(presale.Metrics.Potential)
                    </td>
                    <td>
                        @Helper.ToCurrencyString(presale.Metrics.Profit)
                    </td>
                    <td title="@_TtitleAvgTimeToReaction">
                        @Helper.ToMinutesString(presale.Metrics.AvgTimeToReaction.ToTimeSpan())
                    </td>
                    <td title="@_TitleTimeSpend">
                        @Helper.ToHoursString(presale.Metrics.SumSpend.ToTimeSpan())
                    </td>
                    <td title="@_TitleAvtTimeSpend">
                        @Helper.ToHoursString(presale.Metrics.AvgSpend.ToTimeSpan())
                    </td>
                    <td title="@_TitleAbandoned">
                        @Helper.ToEmptyIfZeroString(presale.Metrics.Abnd)
                    </td>
                    <td title="@_TitleAvgTimeToWin">
                        @Helper.ToDaysString(presale.Metrics.AvgTimeToWin.ToTimeSpan())
                    </td>
                    <td title="@_TitleAvgRank">
                        @Helper.ToEmptyIfZeroString(Math.Round(presale.Metrics.AvgRank, 1))
                    </td>
                </tr>
            }
            <tr>
                <td>Всего</td>
                <td title="@_GetTitleInWork()">
                    @Helper.ToEmptyIfZeroString(_OverviewResponse.Metrics.InWork)
                </td>
                <td title="@_TitleAssign">
                    @Helper.ToEmptyIfZeroString(_OverviewResponse.Metrics.Assign)
                </td>
                <td title="@_TitleWon">
                    @Helper.ToEmptyIfZeroString(_OverviewResponse.Metrics.Won)
                </td>
                <td title="@_TitleConversion">
                    @Helper.ToPercentString(_OverviewResponse.Metrics.Conversion)
                </td>
                <td title="@_TitleLoss">
                    @Helper.ToEmptyIfZeroString(_OverviewResponse.Metrics.Loss)
                </td>
                <td>
                    @Helper.ToCurrencyString(_OverviewResponse.Metrics.Potential)
                </td>
                <td>
                    @Helper.ToCurrencyString(_OverviewResponse.Metrics.Profit)
                </td>
                <td title="@_TtitleAvgTimeToReaction">
                    @Helper.ToMinutesString(_OverviewResponse.Metrics.AvgTimeToReaction.ToTimeSpan())
                </td>
                <td title="@_TitleTimeSpend">
                    @Helper.ToHoursString(_OverviewResponse.Metrics.SumSpend.ToTimeSpan())
                </td>
                <td title="@_TitleAvtTimeSpend">
                    @Helper.ToHoursString(_OverviewResponse.Metrics.AvgSpend.ToTimeSpan())
                </td>
                <td title="@_TitleAbandoned">
                    @Helper.ToEmptyIfZeroString(_OverviewResponse.Metrics.Abnd)
                </td>
                <td title="@_TitleAvgTimeToWin">
                    @Helper.ToDaysString(_OverviewResponse.Metrics.AvgTimeToWin.ToTimeSpan())
                </td>
                <td title="@_TitleAvgRank">
                    @Math.Round(_OverviewResponse.Metrics.AvgRank, 1)
                </td>
            </tr>
        </tbody>
    </table>

    @if (_OverviewResponse.AvgDirectorTimeToReaction.Seconds > 0)
    {
        <p>
            Среднее время реакции руководителя (среднее время до назначения) в минутах:&nbsp;
            @Helper.ToMinutesString(_OverviewResponse.AvgDirectorTimeToReaction.ToTimeSpan())
        </p>
    }
    @if (_OverviewResponse.Waiting.Count > 0)
    {
        <details class="pmspoiler">
            <summary>Проекты, ожидающие реакции пресейла: @_OverviewResponse.Waiting.Count</summary>
            @foreach (var project in _OverviewResponse.Waiting)
            {
                <p>@_Format(project)</p>
            }
        </details>
    }
    @if (_OverviewResponse.Escalations.Count > 0)
    {
        <details class="pmspoiler">
            <summary>
                Проекты с нарушением пунктов 3.1 и 3.2 Регламента (просроченные):&nbsp;
                @_OverviewResponse.Escalations.Count
            </summary>
            @foreach (var project in _OverviewResponse.Escalations)
            {
                <p>@_Format(project)</p>
            }
        </details>
    }
    @if (_OverviewResponse.Forgotten.Count > 0)
    {
        <details class="pmspoiler">
            <summary>
                Проекты без отметки начала работы пресейлом (забытые):&nbsp;
                @_OverviewResponse.Forgotten.Count
            </summary>
            @foreach (var project in _OverviewResponse.Forgotten)
            {
                <p>@_Format(project)</p>
            }
        </details>
    }
    @if (_OverviewResponse.New.Count > 0)
    {
        <details class="pmspoiler">
            <summary>Новые проекты (ожидают распределения): @_OverviewResponse.New.Count</summary>
            @foreach (var project in _OverviewResponse.New)
            {
                <p>@_Format(project)</p>
            }
        </details>
    }
}