@page "/testpage"
@layout Test

<div class="d-flex">
    <RadzenButton ButtonType=Radzen.ButtonType.Button ButtonStyle=ButtonStyle.Dark Click=DoSomething>Say Hello</RadzenButton>
    <Button Type="Blazorise.ButtonType.Button" Color="Color.Dark" Clicked="(async () => await HandleRedraw())">Redraw Chart</Button>
</div>
<p>@reply?.Message</p>
<p>@Period.Start - @Period.End, @Period.Type --- @counter</p>
<PeriodPicker Period="@Period" PeriodChanged="OnPeriodChanged" />
<RadzenButton ButtonType=Radzen.ButtonType.Button ButtonStyle=ButtonStyle.Dark Click=CleanStorage>Clean Storage</RadzenButton>
<div style="width: 500px;height: 500px">
    <PieChart @ref="pieChart" TItem="double" />
</div>