@page "/testpage"
@using pax.BlazorChartJs
@layout Main

<div class="d-flex">
    <RadzenButton Click="(async() => await _HandleSayHello())" Text="Say Hello" ButtonStyle="ButtonStyle.Primary" />
    <RadzenButton Click="(async() => await _GetModules())" Text="Get Modules" />
    <input type="number" @bind=_NumberOfPoints />
    <RadzenButton Click="_HandleRedraw" Text="Redraw Chart" />
</div>
<p>@_Reply?.Message</p>
<p>@_Modules</p>
<p>@Period.Start - @Period.End, @Period.Type --- @_Counter</p>
<PeriodPicker Period="@Period" PeriodChanged="_OnPeriodChanged" />
<RadzenButton Click=_CleanStorage>Clean Storage</RadzenButton>

<div style="width: 500px;height: 500px">
    <ChartComponent ChartJsConfig="_LineChartConfig" />
    <ChartComponent ChartJsConfig="_PieChartConfig" />
</div>