@page "/unpaid"
@inject IJSRuntime js

<PageTitle>@Localization["UnpaidPage"]</PageTitle>

<h1>@Localization["UnpaidPage"]</h1>
<p>@Localization["UnpaidPageDescription"]</p>
<div class="d-flex">
    <ComboBox_PresalesNames SelectedPresale="@_presale_name" OnSelectCallback="OnPresaleChanged" />
    <PeriodPicker Period="@_period" PeriodChanged="OnPeriodChanged" />
    <input title="Учитывать счета в основных проектах" type="checkbox"
            id="lookAtMains" value="@_is_main_project_include"
            @onchange="((ChangeEventArgs e) => OnModeChanged(e?.Value))"
            unchecked class="inline-check" style="cursor: help;" />

    <Button @attributes="_btn_attrs" Color="Color.Dark" Clicked="DownloadFile">@Localization["DownloadReportButtonText"]</Button>
</div>

@if (_response == null)
{
    <Loader />
}
else
{
    <DataGrid TItem="Project"
          Data="@_response?.Projects"
            Filterable
          Sortable="false"
          PageSize="@int.MaxValue"
            Responsive>
    <DataGridColumns>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(Project.Number)" Caption="@Localization["ProjectNumberText"]"
                        Editable="false" Width="10%" CustomFilter="@DataGridFilters.DefaultFilter" />
        <DataGridColumn Field="@nameof(Project.Name)" Caption="@Localization["ProjectNameText"]"
                        Editable="false" CustomFilter="@DataGridFilters.DefaultFilter" />
        <DataGridColumn Field="@nameof(Project.Presale)" Caption="@Localization["PresaleNameText"]"
                        Editable="false" Width="15%" CustomFilter="@DataGridFilters.PresaleFilter" Context="project">
            <DisplayTemplate>
                @{
                        var name = (project as Project)?.Presale?.Name.GetFirstAndLastName();
                    }
                    @(!string.IsNullOrEmpty(name) ? name : Localization["PresaleNotAssignedYetMessage"])
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Field="@nameof(Project.Status)" Caption="@Localization["ProjectStatusText"]"
                        Editable="false" CustomFilter="@DataGridFilters.DefaultFilter" Context="project" Filterable="false">
                <DisplayTemplate>
                    @((project as Project)?.Status.GetLocalizedName(Localization))
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Field="@nameof(Project.Potential)" Caption="@Localization["ProjectPotentialText"]"
                        Editable="false" Width="10%" CustomFilter="@DataGridFilters.DecimalValueFilter" Context="project">
                <DisplayTemplate>
                    @($"{@Helpers.ToCurrencyString((project as Project)?.Potential)}")
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridDateColumn Field="@nameof(Project.ClosedAt)" Caption="@Localization["ProjectCloseDateText"]"
                            Editable="false" Width="15%" CustomFilter="@DataGridFilters.GetDateTimeFilter" Context="project">
                <DisplayTemplate>
                    @($"{(project as Project)?.ClosedAt.ToDateTime().ToPresaleTime()}")
                </DisplayTemplate>
            </DataGridDateColumn>
        </DataGridColumns>
    </DataGrid>
}