@using PresalesApp.Authorization

<div>
    <RadzenTemplateForm TItem="LoginRequest" Data="@_Model"
                        Submit="@(args => _OnSubmitAsync())"
                        InvalidSubmit="@(args => _OnInvalidSubmit())">
        <RadzenStack>
            <RadzenRow>
                <RadzenFormField Text="@Localization["LoginText"]">
                    <ChildContent>
                        <RadzenTextBox AutoCompleteType="AutoCompleteType.Username" Disabled="@_Busy"
                                       Change=@(args => _OnLoginChange(args)) @bind-Value="_Model.Login"
                                       Name="Login" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Text="@($"{Localization["LoginText"]} {Localization["RequiredValidatorHelperText"]}")"
                                                 Component="Login" />
                    </Helper>
                </RadzenFormField>
            </RadzenRow>
            <RadzenRow>
                <RadzenFormField Text="@Localization["PasswordText"]">
                    <ChildContent>
                        <RadzenPassword AutoCompleteType="AutoCompleteType.CurrentPassword" Disabled="@_Busy"
                                        Change=@(args => _OnPasswordChange(args)) @bind-Value="_Model.Password"
                                        Name="Password" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Text="@($"{Localization["PasswordText"]} {Localization["RequiredValidatorHelperText"]}")"
                                                 Component="Password" />
                    </Helper>
                    <End>
                        <RadzenButton Icon="@(_ShowPassword ? "visibility" : "visibility_off")" Click="@(args => _ShowPassword = !_ShowPassword)" Variant="Variant.Text" Size="ButtonSize.Small" />
                    </End>
                </RadzenFormField>
            </RadzenRow>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"
                     Gap="1rem" class="rz-mt-8 rz-mb-4">
            <RadzenButton Text="@Localization["RegisterModalButtonText"]" Disabled="@_Busy"
                          Variant="Variant.Text" Icon="how_to_reg"
                          Click="@(args => _OpenRegisterFormAsync())" />
            <RadzenButton Text="@Localization["LoginButtonModalText"]" IsBusy="@_Busy"
                          ButtonType="ButtonType.Submit" Icon="login" />
        </RadzenStack>
    </RadzenTemplateForm>
</div>