<table class="table">
    <thead>
        <tr>
            <th style="">@Localization["ProjectNumberText"]</th>
            <th style="">@Localization["ProjectNameText"]</th>
            <th style="width: 15%">@Localization["PresaleNameText"]</th>
            <th style="">@Localization["ProjectStatusText"]</th>
            <th style="width: 15%">@Localization["ProjectCloseDateText"]</th>
            <th style="">@Localization["ProjectInvoicesCountText"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Projects)
        {
            <tr>
                <td>@project.Number</td>
                <td>@project.Name</td>
                <td>@project.PresaleName</td>
                <td>@project.Status.GetName(Localization)</td>
                <td>@project.ClosedAt.ToDateTime().ToPresaleTime()</td>
                <td>@project.Invoices.Count</td>
            </tr>
        }
    </tbody>
</table>

@code {
#pragma warning disable CS8618 // Specified EditorRequired and marked compiler option warning RZ2012 as error
    [Parameter, EditorRequired]
    public IEnumerable<Project> Projects { get; set; }
}